#section-brands {
  background: var(--secondary);
}

#section-brands h2 {
  font-size: 3rem;
  font-weight: 600;

  line-height: 3.6rem;

  text-align: center;

  margin-bottom: 3rem;
}

#section-brands #brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#section-brands .brand {
  width: 100%;
  max-width: 38.8rem;

  text-align: center;

  padding: 3rem;

  transition: all 0.3s ease-in-out;
}

#section-brands .brand:hover {
  transform: translateY(-0.8rem);
}

#section-brands img {
  width: 100%;
  max-width: 12.8rem;
}

#section-brands img#technos-logo {
  max-width: 15.6rem;
}

#section-brands p {
  font-size: 1.8rem;

  line-height: 2rem;

  margin-top: 3rem;
}
