#section-selection-by-brand {
  background: var(--secondary);
}

#section-selection-by-brand h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  text-align: center;

  margin-bottom: 3rem;
}

#section-selection-by-brand #selection-by-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.8rem;
  flex-wrap: wrap;

  padding: 3rem;
}

#section-selection-by-brand img {
  width: 100%;
  max-width: 19.6rem;

  transition: all 0.3s ease-in-out;
}

#section-selection-by-brand img#technos-logo-2 {
  max-width: 22.8rem;
}

#section-selection-by-brand img:hover {
  transform: translateY(-0.8rem);
}

@media (width >= 1024px) {
  #section-selection-by-brand h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }
}
